<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funi.filemove.dao.FileMoveRecordPoMapper">
    <resultMap id="BaseResultMap" type="com.funi.filemove.po.FileMoveRecordPo">
        <id column="UUID" jdbcType="VARCHAR" property="uuid"/>
        <result column="FILE_STORE_ID" jdbcType="VARCHAR" property="fileStoreId"/>
        <result column="FILE_UUID" jdbcType="VARCHAR" property="fileUuid"/>
        <result column="BIZID" jdbcType="VARCHAR" property="bizid"/>
        <result column="TABLENAME" jdbcType="VARCHAR" property="tablename"/>
        <result column="DATA_SOURCE" jdbcType="VARCHAR" property="dataSource"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="MOVE_STATUS" jdbcType="VARCHAR" property="moveStatus"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="THREAD_ID" jdbcType="VARCHAR" property="threadId"/>
        <result column="FILE_SIZE" jdbcType="DECIMAL" property="fileSize"/>
    </resultMap>
    <sql id="Base_Column_List">
    UUID, FILE_STORE_ID, FILE_UUID, BIZID, TABLENAME, DATA_SOURCE, CREATETIME, MOVE_STATUS,
    REMARK, THREAD_ID, FILE_SIZE
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SURVEY.FILE_MOVE_RECORD
        where UUID = #{uuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SURVEY.FILE_MOVE_RECORD
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.funi.filemove.po.FileMoveRecordPo">
    insert into SURVEY.FILE_MOVE_RECORD (UUID, FILE_STORE_ID, FILE_UUID,
      BIZID, TABLENAME, DATA_SOURCE,
      CREATETIME, MOVE_STATUS, REMARK,
      THREAD_ID, FILE_SIZE)
    values (#{uuid,jdbcType=VARCHAR}, #{fileStoreId,jdbcType=VARCHAR}, #{fileUuid,jdbcType=VARCHAR},
      #{bizid,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, #{dataSource,jdbcType=VARCHAR},
      #{createtime,jdbcType=TIMESTAMP}, #{moveStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{threadId,jdbcType=VARCHAR}, #{fileSize,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="com.funi.filemove.po.FileMoveRecordPo">
        insert into SURVEY.FILE_MOVE_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                UUID,
            </if>
            <if test="fileStoreId != null">
                FILE_STORE_ID,
            </if>
            <if test="fileUuid != null">
                FILE_UUID,
            </if>
            <if test="bizid != null">
                BIZID,
            </if>
            <if test="tablename != null">
                TABLENAME,
            </if>
            <if test="dataSource != null">
                DATA_SOURCE,
            </if>
            <if test="createtime != null">
                CREATETIME,
            </if>
            <if test="moveStatus != null">
                MOVE_STATUS,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="threadId != null">
                THREAD_ID,
            </if>
            <if test="fileSize != null">
                FILE_SIZE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="fileStoreId != null">
                #{fileStoreId,jdbcType=VARCHAR},
            </if>
            <if test="fileUuid != null">
                #{fileUuid,jdbcType=VARCHAR},
            </if>
            <if test="bizid != null">
                #{bizid,jdbcType=VARCHAR},
            </if>
            <if test="tablename != null">
                #{tablename,jdbcType=VARCHAR},
            </if>
            <if test="dataSource != null">
                #{dataSource,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="moveStatus != null">
                #{moveStatus,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="threadId != null">
                #{threadId,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <insert id="insertAll" parameterType="com.funi.filemove.po.FileMoveRecordPo">
        INSERT INTO SURVEY.FILE_MOVE_RECORD r (UUID,BIZID,TABLENAME,DATA_SOURCE,MOVE_STATUS)
        <foreach collection="fileMoveRecordPoList" item="fileMoveRecordPo" index="index" separator="UNION ALL">
            SELECT
            #{fileMoveRecordPo.uuid},#{fileMoveRecordPo.bizid},#{fileMoveRecordPo.tablename},#{fileMoveRecordPo.dataSource},
            #{fileMoveRecordPo.moveStatus}
            FROM dual
        </foreach>
    </insert>

    <select id="selectMaxBizIdByParams" parameterType="map" resultType="java.math.BigDecimal" useCache="false"
            flushCache="true">
    select max(to_number(r.bizid))
        from survey.file_move_record r
    where r.data_source = #{dataSource,jdbcType=VARCHAR}
        and r.tablename = #{tableName,jdbcType=VARCHAR}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.funi.filemove.po.FileMoveRecordPo">
        update SURVEY.FILE_MOVE_RECORD
        <set>
            <if test="fileStoreId != null">
                FILE_STORE_ID = #{fileStoreId,jdbcType=VARCHAR},
            </if>
            <if test="fileUuid != null">
                FILE_UUID = #{fileUuid,jdbcType=VARCHAR},
            </if>
            <if test="bizid != null">
                BIZID = #{bizid,jdbcType=VARCHAR},
            </if>
            <if test="tablename != null">
                TABLENAME = #{tablename,jdbcType=VARCHAR},
            </if>
            <if test="dataSource != null">
                DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                CREATETIME = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="moveStatus != null">
                MOVE_STATUS = #{moveStatus,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="threadId != null">
                THREAD_ID = #{threadId,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
            </if>
        </set>
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.funi.filemove.po.FileMoveRecordPo">
    update SURVEY.FILE_MOVE_RECORD
    set FILE_STORE_ID = #{fileStoreId,jdbcType=VARCHAR},
      FILE_UUID = #{fileUuid,jdbcType=VARCHAR},
      BIZID = #{bizid,jdbcType=VARCHAR},
      TABLENAME = #{tablename,jdbcType=VARCHAR},
      DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      MOVE_STATUS = #{moveStatus,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      THREAD_ID = #{threadId,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>

    <select id="selectListRecord" parameterType="map" resultMap="BaseResultMap">
        select
        r.*
        from SURVEY.FILE_MOVE_RECORD r
        <where>
            <if test="theadSum != null and theadId != null">
                and Mod(r.BIZID, #{theadSum,jdbcType=DECIMAL}) = #{theadId,jdbcType=DECIMAL}
            </if>
            <if test="dataSource != null">
                and r.DATA_SOURCE = #{dataSource,jdbcType=VARCHAR}
            </if>
            <if test="tableName != null">
                and r.TABLENAME = #{tableName,jdbcType=VARCHAR}
            </if>
            <if test="moveStatusList != null">
                and r.MOVE_STATUS in
                <foreach close=")" collection="moveStatusList" index="index" item="item" open="(" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="uuid !=null and uuid !='' ">
                and r.UUID=#{uuid,jdbcType=VARCHAR}
            </if>
            <if test="fileUuid !=null and fileUuid !='' ">
                and r.FILE_UUID=#{fileUuid,jdbcType=VARCHAR}
            </if>
            <if test="bizid !=null and bizid !='' ">
                and r.BIZID=#{bizid,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="queryMoveRecordCount" parameterType="map" resultType="integer">
        select count(1)
        from SURVEY.FILE_MOVE_RECORD r
        <where>
            <if test="tableName != null">
                and r.TABLENAME = #{tableName,jdbcType=VARCHAR}
            </if>
            <if test="dataSource != null">
                and r.DATA_SOURCE = #{dataSource,jdbcType=VARCHAR}
            </if>
            <if test="MoveStatus != null">
                and r.MOVE_STATUS = #{MoveStatus,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectMoveTaskRecordByQueryParams" parameterType="map" resultMap="BaseResultMap" useCache="false"
            flushCache="true">
        select
        <include refid="Base_Column_List"/>
        from SURVEY.FILE_MOVE_RECORD r
        <where>
            rownum = 1
            <if test="uuid != null and uuid !=''">
                and r.UUID=#{uuid,jdbcType=VARCHAR}
            </if>
            <if test="theadSum != null and theadId != null">
                and Mod(r.BIZID, #{theadSum,jdbcType=DECIMAL}) = #{theadId,jdbcType=DECIMAL}
            </if>
            <if test="dataSource != null">
                and r.DATA_SOURCE = #{dataSource,jdbcType=VARCHAR}
            </if>
            <if test="tableName != null">
                and r.TABLENAME = #{tableName,jdbcType=VARCHAR}
            </if>
            <if test="MoveStatus != null">
                and r.MOVE_STATUS = #{MoveStatus,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <select id="selectMoveTaskListByQueryParams" parameterType="map" resultMap="BaseResultMap" useCache="false"
            flushCache="true">
        select
        <include refid="Base_Column_List"/>
        from SURVEY.FILE_MOVE_RECORD r
        <where>
            <if test="uuid != null and uuid !=''">
                and r.UUID=#{uuid,jdbcType=VARCHAR}
            </if>
            <if test="theadSum != null and theadId != null">
                and Mod(r.BIZID, #{theadSum,jdbcType=DECIMAL}) = #{theadId,jdbcType=DECIMAL}
            </if>
            <if test="dataSource != null">
                and r.DATA_SOURCE = #{dataSource,jdbcType=VARCHAR}
            </if>
            <if test="tableName != null">
                and r.TABLENAME = #{tableName,jdbcType=VARCHAR}
            </if>
            <if test="MoveStatus != null">
                and r.MOVE_STATUS = #{MoveStatus,jdbcType=VARCHAR}
            </if>
            <if test="taskSize !=null">
                and rownum &lt;= #{taskSize,jdbcType=DECIMAL}
            </if>
        </where>
    </select>

    <update id="updateAll" parameterType="map">
        UPDATE SURVEY.FILE_MOVE_RECORD r
        SET(FILE_STORE_ID,FILE_UUID,BIZID,TABLENAME,DATA_SOURCE,CREATETIME,MOVE_STATUS,REMARK,THREAD_ID,FILE_SIZE)
        =(SELECT FILESTOREID,FILEUUID,BIZID,TABLENAME,DATASOURCE,CREATETIME,MOVESTATUS,REMARK,THREADID,FILESIZE
        FROM
            <foreach collection="fileMoveRecordPoList" item="fileMoveRecordPo" index="index" open="(" separator="UNION ALL" close=")" >
            SELECT #{fileMoveRecordPo.uuid,jdbcType=VARCHAR} UUID,#{fileMoveRecordPo.fileStoreId,jdbcType=VARCHAR} FILESTOREID, #{fileMoveRecordPo.fileUuid,jdbcType=VARCHAR} FILEUUID,
                #{fileMoveRecordPo.bizid,jdbcType=VARCHAR} BIZID, #{fileMoveRecordPo.tablename,jdbcType=VARCHAR} TABLENAME, #{fileMoveRecordPo.dataSource,jdbcType=VARCHAR} DATASOURCE,
                #{fileMoveRecordPo.createtime,jdbcType=TIMESTAMP} CREATETIME, #{fileMoveRecordPo.moveStatus,jdbcType=VARCHAR} MOVESTATUS, #{fileMoveRecordPo.remark,jdbcType=VARCHAR} REMARK,
                #{fileMoveRecordPo.threadId,jdbcType=VARCHAR} THREADID, #{fileMoveRecordPo.fileSize,jdbcType=DECIMAL} FILESIZE
            FROM dual
            </foreach> r1
        WHERE r1.UUID = r.uuid)
        WHERE r.uuid in
        <foreach collection="fileMoveRecordPoList" item="fileMoveRecordPo" index="index" open="(" separator="," close=")">
            #{fileMoveRecordPo.uuid,jdbcType=VARCHAR}
        </foreach>
    </update>
</mapper>